.about-main-container {
    display: flex;
  }
  
  .about-main-container img {
    object-fit: cover;
    border-radius: var(--border-radius);
  }
  
  .about-main-container article {
    padding: 20px;
  }