:root {
  --first-color: #141616;
  --second-color: #1e2122;
}

@font-face {
  font-family: 'Afacad';
  src: url('../assets/fonts/Afacad-VariableFont_wght.ttf');
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Afacad', monospace;
  color: #FFF8F1;
  overflow: hidden;
  background-color: var(--first-color);
}

.App {
  display: flex;
  height: 100vh;
}

nav {
  display: flex;
  width: auto;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  border-right: 3px solid black;
  background-color: var(--second-color);
}

nav a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  border: 3px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: #FFF8F1;
  font-size: 15px;
}

nav .themeChanger {
  width: inherit;
  height: 50px;
  margin: 5px 10px;
  border: 3px solid black;
  border-radius: 5px;
}

nav .themeChanger button {
  width: 100%;
  height: inherit;
  border: none;
  color: #FFF8F1;
  background-color: var(--second-color);
  cursor: pointer;
  font-size: 15px;
}

nav a.active {
  background-color: var(--first-color);
}

main {
  width: 100%;
  overflow-y: hidden;
}

section {
  height: 100%;
  background-color: var(--first-color);
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  align-items: center;
  margin: auto;
}

.home-image {
  border: 3px solid black;
  background-color: var(--second-color);
  border-radius: 5px;
  margin-right: 20px;
  width: 200px;
  height: 208px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  border: 3px solid black;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.hero-name h1 {
  font-size: 60px;
}

article {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}

#home, #about, #project {
  animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-left: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 