.contact-container {
    width: 100%;
}

.contact-coloumn {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.contact-coloumn a {
    color: white;
    text-decoration: none;
}

.contact-box {
    flex: 1;
    text-align: center;
}

.card-left {
    margin-right: var(--card-margin);
  }
  
  .card-middle {
    margin-left: var(--card-margin);
    margin-right: var(--card-margin);
  }
  
  .card-right {
    margin-left: var(--card-margin);
  }