.contact-coloumn {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.contact-coloumn a {
    color: white;
    text-decoration: none;
    font-size: 3.5vh;
    padding: 25px;
}

.contact-box:first-child {
  margin-top: 0;
}

.contact-box:last-child {
  margin-bottom: 0;
}

.contact-box {
    flex: 1;
    margin: 5px 10px;
    margin-left: 0;
}

.leftIcon {
  float: right;
}