#project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project h1 {
  margin: 10px;
  font-size: 30px;
}

.project-layer {
  display: flex;
}

.project-box {
  width: 305px;
  height: 205px;
  margin: 10px;
  background-color: #1e2122;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project-box img {
  position: absolute;
  z-index: 1;
  width: 305px;
  height: 205px;
  object-fit: cover;
  border: 3px solid black;
  border-radius: 5px;
}

.project-box .project-name {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.fill {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.01));
}

.project-box h3 {
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .project-layer {
    flex-direction: column;
    overflow-y: hidden;
    padding-left: 5px;
    margin-left: 5px;
  }

  #project {
    height: auto;
    overflow-y: auto;
    padding: 25px 0;
    padding-left: 5px;
  }

  .project-box {
    width: 340px;
    height: 250px;
  }
  
  .project-box img {
    width: 340px;
    height: 250px;
  }
}