.dark-theme {
    background-color: #FFF8F1;
    color: black;
    
    .App {
      background-color: #FFF8F1;
    }

    section {
      background-color: #FFF8F1;
      transition: background-color 0.5s ease-in-out;
    }

    nav {
      background-color: lightgray;
    }
    .home-image, .about-image {
      background-color: lightgray;
    }
    .project-box {
      background-color: lightgray;
      transition: background-color 0.5s ease-in-out;
    }
    .fill {
      color: #FFF8F1;
    }
    nav a {
      color: black;
    }

    nav button {
      color: black;
      background-color: lightgray;
    }

    nav a.active {
      background-color: #FFF8F1;
    }

    .loader {
      border-top: 3px solid #000;
      border-left: 3px solid #000;
      border-right: 3px solid transparent;
    }

    nav, nav a, nav button, nav a.active, .hero img {
      transition: background-color 0.5s ease-in-out;
    }
}

.project-box {
  transition: background-color 0.5s ease-in-out;
}

section {
  transition: background-color 0.5s ease-in-out;
}

nav, nav a, nav button ,nav a.active, .home-image, .about-image, body, .App {
  transition: background-color 0.5s ease-in-out;
}