.skillColumn .tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .skillColumn .tooltip-container .tooltip-text {
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: var(--border-radius);
    background-color: black;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%; /* Changed from bottom to top */
    left: 50%;
    margin-top: 5px; /* Adjusted margin-top */
    margin-left: -40px;
    opacity: 0;
    width: 70px;
  }
  
  .skillColumn .tooltip-container:hover .tooltip-text {
    visibility: visible;
    transition: opacity 0.1s;
    opacity: 1;
  }

.sidebar .tooltip-container {
    position: relative;
    display: flex;
  }
  
  .sidebar .tooltip-container .tooltip-text {
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: var(--border-radius);
    background-color: black;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 100%;
    margin-left: 15px;
    opacity: 0;
    transition: opacity 0.1s;
    width: 10px;
    overflow: hidden;
  }
  
  .sidebar .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    width: 70px;
    transition: width 0.3s ease;
  }

  @media screen and (max-width: 1000px) {
    .sidebar .tooltip-container .tooltip-text {
      padding: 5px;
      position: absolute;
      z-index: 1;
      top: 110%; /* Changed from bottom to top */
      left: 50%;
      margin-left: -40px;
      width: 70px;
    }
    .sidebar .tooltip-container:hover .tooltip-text {
      visibility: visible;
      opacity: 1;
      width: 70px;
      transition: opacity 0.1s;
    }
  }

  @media screen and (max-width: 425px) {
    .sidebar .tooltip-container .tooltip-text{
      display: none;
    }
  }
  